{% extends "base/header.html" %}

<!doctype html>
<html lang="fr">
{% block body %}
<br><br>
<div class="content-wrapper">
  <form class="col-md-9 m-auto" method = "POST" action="{% url 'myaccount' %}">
    <div class="row justify-content-center">
      <div class="col-md-8 grid-margin stretch-card">
            <h4 class="card-title">Mes informations personnelles</h4>
            <p class="card-description">
              Mon compte
            </p>
            <br>
              {% csrf_token %}
              <div class="form-group">
                <label for="exampleInputUsername1">Nom d'utilisateur</label>
                <input type="text" class="form-control mt-1" required="required" name="username" id="exampleInputUsername1" value={{ username }} placeholder={{ username }}>
              </div>
              <br>
              <div class="form-group">
                <label for="exampleInputEmail1">Adresse e-mail</label>
                <input type="email" class="form-control mt-1" required="required" name="email" id="exampleInputEmail1" value={{ email }} placeholder={{ email }}>
              </div>
              <br>
              <div class="form-group">
                <label for="exampleInputPassword1">Nouveau mot de passe</label>
                <input type="password" name="password1" class="form-control mt-1" id="exampleInputPassword1" placeholder="Nouveau mot de passe">
              </div>
              <br>
              <div class="form-group">
                <label for="exampleInputConfirmPassword1">Confirmer le nouveau mot de passe</label>
                <input type="password" name="password2" class="form-control mt-1" id="exampleInputConfirmPassword1" placeholder="Confirmer le nouveau mot de passe">
              </div>
              
          </div>
    </div>
    <br><br>
    <div class="row justify-content-center">
      <div class="col-md-4 grid-margin stretch-card">

            <div class="form-group">
              <label for="exampleInputPassword1">Mot de passe</label>
              <input type="password" name="password3" required="required" class="form-control mt-1" id="exampleInputPassword1" placeholder="Mot de passe">
              {% if status == 1 %}
                <p class="text-danger">{{ error }}</p>
              {% endif %}
              <br>
            </div>
              <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-success">Sauvegarder</button>
              </div>
              <div class="d-flex justify-content-center">
                <a href="/accounts/myaccount" class="btn btn-light">Annuler</a>
              </div>
      </div>
    </div>
    <br>
      
  </form>
    
  </div>


{% endblock %}